# Python
__pycache__/
*.py[cod]
*.egg-info/

# virtual environments
venv/
.venv/

# ML artifacts
data/
models/
mlruns/

# notebooks
.ipynb_checkpoints/

# logs
*.log

# OS
.DS_Store

# environment variables
.env
